* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $dark-purple;
}

html {
  scroll-behavior: smooth;
  font-size: 150%;

  @media (max-width: 1200px) {
    font-size: 125%;
  }

  @media (max-width: 450px) {
    font-size: 100%;
  }

  @media (max-width: 350px) {
    font-size: 80%;
  }

  @media (max-width: 200px) {
    font-size: 60%;
  }
}

body {
  color: #111;
  font-family: "Lato", sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  background: $bright-purple;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a:visited {
  color: inherit;
}

.is-active {
  font-weight: bold;
}
