// Colors
$main-blue: #1572b6;
$old-blue: #3887d6;
$light-grey: #a0a0a0;
$main-red: #991111;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// main portfolio color scheme
$dark-purple: #154890;
$bright-purple: #6699ff;
$light-purple: #a499be;
$main-brown: #4e361e;
$main-grey: #d0d0d0;
$black: #1d1d1d;
// Font Size
$font-size-large: 0.9rem;
$font-size-small: 0.7rem;
// Spacing
$s-size: 0.6rem;
$m-size: 0.8rem;
$l-size: 1.6rem;
$xl-size: 2.4rem;
$desktop-breakpoint: 22.5rem;
