.footer {
  @include flexCenterBoth;
  font-family: "Indie Flower", cursive;
  width: 100%;
  height: 3rem;
  background: $bright-purple;

  h3 {
    color: $dark-purple;

    i {
      color: $black;
    }
  }
}

.coffee-icon {
  font-size: 1rem;
}
