.footer {
  font-family: "Indie Flower", cursive;
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  color: $main-grey;
  background: $main-grey;

  h3 {
    color: $dark-purple;

    i {
      color: $black;
    }
  }
}

.coffee-icon {
  font-size: 1rem;
}
